#lavalamps {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    color: chartreuse;
}
#lavalamps li {
    width: 200px;
    height: 200px;
    border: 3px dotted chartreuse;
    padding: 10px;
    border-radius: 10%;
    margin-bottom: 20px;
    margin-right: 20px;
    z-index: 5;

}

#lavalamps li h3{
    font-size: 1.2rem;
    font-weight: bold;
}

#lavalamps li img {
    width: 50%;
    height: 70%;
}
#lavalamps button {
    background-color: black;
    color: chartreuse;
}
#lavalamps h2 {
    font-size: .6rem;
}
body {
    background-color: black;
}
header{
    height: 50px;
    color: chartreuse;
    font-size: larger;

}
#clear{
    background-color: black;
    color: chartreuse;
}
#checkout{
    background-color: black;
    color: chartreuse;
}
a {
    color: chartreuse;
    justify-content: center;
}